html, body{
	height: 100%;
	width: 100%;
	color: #999;
}
a{
	color: #D3E2EB;
	text-decoration: none;
	
}
input[type='submit']{
	background-color: #62A141;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	float:right;
}
label{
	display:block;
	float:left;
	width: 100px;
	color: #FFFFFF;
}
#header{
	height: 60px;
	background-color: #223C44;
	border-bottom: 2px solid #31687B;
	text-align: right;
	padding-right: 30px;
	padding-top: 5px;
}
#main{
	background-color: #1D2D32;
	padding: 10px;
}

#search{
	height: 40px;
	padding-top: 15px;
	text-align: center;
	border-bottom: 2px solid #FFFFFF;
	margin-bottom: 1px;
}

#featured{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1A353D;
	margin-bottom: 40px;
}
.gadget{
	border-radius: 10px;
	width: 350px;
	background-color: #223C44;
	margin-left: 40px;
	padding: 5px;
}

.gadget_header{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #223C44;
	border-bottom: 2px solid #31687B;
	height: 30px;
}

#edit_map{
	width: 100%;
}
#edit_map #map_canvas{
float:left;
}
#edit_map #map_controls{
float:left;
height: 300px;
width: 200px;
background-image: url('/images/map_controls_background.gif');
margin-left: 20px;
padding: 10px;
border-radius: 20px;
}
.map_form{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	clear:both;
	width: 810px;
}
.map_form input{
	float:left;
}

#route_description{
	width: 700px;
	height: 200px;
}

.error{
	color: red;
	padding-left: 20px;
}

.field{
	padding-top: 5px;
	padding-bottom: 5px;
}
