html, body{
	height: 100%;
	width: 100%;
	color: #999;
}
a{
	color: #D3E2EB;
	text-decoration: none;
	
}
input[type='submit']{
	background-color: #62A141;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	float:right;
}
label{
	display:block;
	float:left;
	width: 100px;
	color: #FFFFFF;
}
#headerwrapper{
	height: 120px;
	background-image: url('/images/headerwrapper.png');
}
#header{
	width: 950px;
	height: 120px;
	position: relative;
	margin: 0px auto;
}
#site_logo a{
	float:left;
	font-size: 30px;
	padding-left: 20px;
}
#user_menu{
	text-align: right;
	float:right;
}
#quick_search{
	width: 950px;
	height: 120px;
	position: relative;
	background-image: url('/images/header.jpg');
	background-repeat: no-repeat;
	top: -40px;
}
#quick_search form{
	width: 700px;
	padding-top:6px;
	text-align: center;
}
.fullpage{
	position: relative;
	margin: 0px auto;
	width: 950px;
}

#search{
	height: 40px;
	padding-top: 15px;
	text-align: center;
	border-bottom: 2px solid #FFFFFF;
	margin-bottom: 1px;
}
#featured_wrapper{
	background-image: url('/images/mainboxwrapper.png')
}
#featured{
	height: 275px;
	background-image: url('/images/mainbox.jpg');
	background-repeat: no-repeat;
}
.features{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	padding-top: 30px;
}
.feature{
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}
#create_your_route{
	background-image: url('/images/submainbox.jpg');
	background-repeat: no-repeat;
	height: 50px;
	text-align: center;
}
#create_your_route span{
	position: relative;
	top: 15px;
}
span.green_button a{
	padding: 8px;
	background-image: url('/images/button_green.png');
	color: #494949;
}
#create_your_route_wrapper{
	background-image: url('/images/submainboxwrapper.png')
}
#main{
	background-color: #ededed;
	min-height: 1000px;
}

.gadget{
	border-radius: 10px;
	width: 350px;
	background-color: #223C44;
	margin-left: 40px;
	padding: 5px;
}

.gadget_header{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #223C44;
	border-bottom: 2px solid #31687B;
	height: 30px;
}

#edit_map{
	width: 100%;
}
#edit_map #map_canvas{
float:left;
}
#edit_map #map_controls{
float:left;
height: 300px;
width: 200px;
background-image: url('/images/map_controls_background.gif');
margin-left: 20px;
padding: 10px;
border-radius: 20px;
}
.map_form{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	clear:both;
	width: 810px;
}
.map_form input{
	float:left;
}

#route_description{
	width: 700px;
	height: 200px;
}

.error{
	color: red;
	padding-left: 20px;
}

.field{
	padding-top: 5px;
	padding-bottom: 5px;
}

.preview_route{
	background-image: url('/images/map_controls_background.gif');
	border-radius: 20px;
	margin: 20px;
	height: 250px;
}
.preview_route .title a{
	color: yellow;
}
.preview_route .map{
	float:left;
	height: 200px;
}

.preview_route .route_info{
	float:left;
	height: 200px;
	padding: 20px;
}
