<div id='create_your_route_wrapper'>
	<div id='create_your_route' class='fullpage'>	
    <span class='green_button'>
			<%= link_to 'Create Your Route - it\'s easy', new_route_path %>
		</span>
	</div>
</div>
