<% # usage: render :partial => 'routes/canvas, [:object=>@route], [:locals=>{:size=>small|medium|large}]'%>

<% height,width = canvas_size(size) %>
<% mode = mode || 'read' %>

<div id="map_canvas" style="width: <%=width%>px; height: <%=height%>px"></div>

<script type="text/javascript"> 
$(document).ready(function(){
    map = new Map();
    map.show_canvas();
    map.mode('<%= mode %>');
    <% # if a map is passed, try to get the overlay %>
    <% if canvas %>
    	map.get_overlay( '<%= overlay_route_path( canvas ) %>' );
    <% end %>
})

</script>