
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div id="map_canvas" style="width:350px; height:350px"></div>

<% form_for @route do |f| %>
<%= f.hidden_field :gmap_coords %>
<% end %>

<script type="text/javascript"> 
$(document).ready(function(){
    var map = new Map();
    map.show_canvas();
    map.mode('create');
})

</script>
