<%= render :partial => 'search/quick_search' %>

<% @routes.each do |route| %>
	<div class='preview_route'>
		<div class='map'>
			<%= link_to image_tag(route.static_map(:height=>200, :width=>200)), route_url(route)%>
		</div>
		
		<div class='route_info'>
			<div class='title'>
				<%= link_to route.name, route_url(route) %>
			</div>
			
			<div class='description'>
				<%= route.description %>
			</div>
		</div>
			
	</div>
<% end %>